body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f7f7ff;
}

p,
label {
  font-size: 18;
}

header {
  background: #bdd5ea;
  color: white;
  padding: 50px 20px;
}

section {
  margin: 0px;
}

img {
  max-width: 50%;
  border: 15px solid #bdd5ea;
}

.fotop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 50px;
}

footer {
  background: #222;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.separacao {
  border: 50px solid #bdd5ea;
  margin-top: 30px;
}

.botao {
  background-color: #bdd5ea;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.botao:hover {
  background-color: #495867;
}
